body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgoldenrod;
}
.homebalk{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 15px solid #000;
    min-width: 981px;
    font-size: 30px;
    background-color: darkblue;
    color: white;
}
 a{
    margin: 0px 255px 0px 415px ;
    text-decoration: none;
    color: white;
}

button {
    min-width: 190px;
    min-height: 50px;
    padding: 10px;
    border: 10px solid #000;
    margin: 6px;
    background-color: lightblue;
    font-size: medium;
    font-weight: bold;
}
.homebutton{
    display: flex;
    flex-direction: row;
    align-items: center ;
    background-color: #000;
}